@supports (initial-letter: 4) or (-webkit-initial-letter: 4) {

    .subhead::first-letter {

        color: rgb(66, 135, 245);
        font-weight: bold;
        margin-right: 0.5em;

        -webkit-initial-letter: 4;
        initial-letter: 4;

    }
}