/* Colorways: 

#005070 - Blue

#ffbe00 - yellow

#ff6624 - orange

#ffffff - white

#000000 - black

*/


body{

 font-family: 'Open Sans Condensed', sans-serif;   
}

header, footer, .bluestripe1{

    background-color: #005070;
    color: white;
    padding: 20px;
    text-align: center;
}

.mainTitle{

    color: #ffbe00;
    font-weight: bolder;
}

.whiteStripe{

    background-color: #ffffff;
    color: black;
    padding: 20px;
    text-align: center;

}
