body {
    font-family: Helvetica;
}

/*--selector-- and decoration*/
ul {
    /*decorator are key value pair*/
    font-family: monospace;
}

/*id can style one element and class can style several*/

li {
    list-style: circle;
}

/*Class example*/
.list {
    list-style: square;
}

/*id example*/
#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}

#outerDiv {

    //font-style: oblique;
}